<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ahshanul Haquc</title>
    <link href="/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/mainPage.css" />
  </head>
  <body>
    <div class="h-[100vh] w-[100vw] flex flex-col">
      <div class="h-[70px] w-full bg-[#213555] center">
        <div class="h-[50px] w-[95%] bg-[#213A59] rounded-3xl flex">
          <div class="h-full bg-green-400 w-1/4"></div>
          <div
            class="h-full text-[#F5EFE7] w-2/4 flex justify-center items-center"
          >
            <div class="h-full w-fit px-8 center">Home</div>
            <div class="h-full w-fit px-8 center">About</div>
            <div class="h-full w-fit px-8 center">Projects</div>
            <div class="h-full w-fit px-8 center">Skills</div>
            <div class="h-full w-fit px-8 center">Acheivements</div>
            <!-- etate education dewa jete pare -->
          </div>
          <div class="h-full w-1/4 flex justify-end">
            <div
              class="h-full w-[150px] bg-[#F5EFE7] text-black rounded-3xl center"
            >
              Contact me
            </div>
          </div>
        </div>
      </div>
      <div class="grow-[1] w-full bg-[#213555]">sdfsdfsd</div>
    </div>
  </body>
</html>
